<article class="container-cards">
    <div class="card">
        <!-- <img src="./assets/img/candy1.png" alt="" class="card__img"> -->
        <div class="cards__text">
            <p class="card__list"><i class="fas fa-user-circle"></i></p>
            <h3 class="card__title">Usuarios <span class="point">.</span></h3>
            <p class="card__copy">Administra tus datos y los de los usuarios.</p>
            <a href="{{host_utl}}/users" class="card__button">Ingresa Ahora</a>
        </div>
    </div>
    <div class="card">
        <!-- <img src="./assets/img/candy1.png" alt="" class="card__img"> -->
        <div class="cards__text">
            <p class="card__list"><i class="fas fa-shopping-bag"></i></p>
            <h3 class="card__title">Compras <span class="point">.</span></h3>
            <p class="card__copy">Elige los mejores productos para la tienda.</p>
            <a href="{{host_utl}}/catalogs" class="card__button">Ingresa Ahora</a>
        </div>
    </div>
    <div class="card">
        <!-- <img src="./assets/img/candy1.png" alt="" class="card__img"> -->
        <div class="cards__text">
            <p class="card__list"><i class="fas fa-graduation-cap"></i></p>
            <h3 class="card__title">Formación <span class="point">.</span></h3>
            <p class="card__copy">Inicia y fortalece tu trayectoria laboral.</p>
            <a href="{{host_utl}}/training" class="card__button">Ingresa Ahora</a>
        </div>
    </div>
    <div class="card">
        <!-- <img src="./assets/img/candy1.png" alt="" class="card__img"> -->
        <div class="cards__text">
            <p class="card__list"><i class="fas fa-folder-open"></i></p>
            <h3 class="card__title">Documentos <span class="point">.</span></h3>
            <p class="card__copy">Biblioteca de documentos administrativos.</p>
            <a href="{{host_utl}}/books" class="card__button">Ingresa Ahora</a>
        </div>
    </div>
    <div class="card">
        <!-- <img src="./assets/img/candy1.png" alt="" class="card__img"> -->
        <div class="cards__text">
            <p class="card__list"><i class="fas fa-search"></i></p>
            <h3 class="card__title">Supervisión <span class="point">.</span></h3>
            <p class="card__copy">Consulta las supervisiones de tienda.</p>
            <a href="{{host_utl}}/supervision" class="card__button">Ingresa Ahora</a>
        </div>
    </div>
    <div class="card">
        <!-- <img src="./assets/img/candy1.png" alt="" class="card__img"> -->
        <div class="cards__text">
            <p class="card__list"><i class="fas fa-shopping-cart"></i></p>
            <h3 class="card__title">Ecommerce <span class="point">.</span></h3>
            <p class="card__copy">Módulo de administración de tienda web.</p>
            <a href="{{ecommerce_admin}}" class="card__button">Ingresa Ahora</a>
        </div>
    </div>
    <div class="card">
        <!-- <img src="./assets/img/candy1.png" alt="" class="card__img"> -->
        <div class="cards__text">
            <p class="card__list"><i class="fas fa-truck"></i></p>
            <h3 class="card__title">Tickets <span class="point">.</span></h3>
            <p class="card__copy">Reporta y consulta las incidencias de tienda.</p>
            <a href="{{host_utl}}/tickets" class="card__button">Ingresa Ahora</a>
        </div>
    </div>
    <div class="card">
        <!-- <img src="./assets/img/candy1.png" alt="" class="card__img"> -->
        <div class="cards__text">
            <p class="card__list"><i class="fas fa-truck"></i></p>
            <h3 class="card__title">Logistica <span class="point">.</span></h3>
            <p class="card__copy">Módulo de envío y control de paquetería.</p>
            <a href="{{host_utl}}/shipments" class="card__button">Ingresa Ahora</a>
        </div>
    </div>
    <div class="card">
        <div class="cards__text">
            <p class="card__list"><i class="fas fa-truck"></i></p>
            <h3 class="card__title">Proveedores <span class="point">.</span></h3>
            <p class="card__copy">Módulo de envío y control de paquetería.</p>
            <a href="{{host_utl}}/providers" class="card__button">Ingresa Ahora</a>
        </div>
    </div>
</article>