.container-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .card {
        width: 30%;
        padding: 20px 8px;
        overflow: hidden;
        background: #000;
        background: linear-gradient(180deg, #30353B 0%, #1A1B1F 100%);
        border-radius: 10px;
        position: relative;
        text-align: right;
        margin-bottom: 5px;
        box-shadow: 0 0 6px #00000033;
        .card__img {
            width: 95%;
            height: 150px;
            object-fit: cover;
            border-radius: 10px 0 0 10px;
        }
        .cards__text {
            text-align: left;
            width: 90%;
            margin: 0 auto;
            .card__list {
                color: #F4BD76;
                font-weight: 700;
                // margin: 25px 0 12px 0;
                font-size: 18px;
                position: relative;
            }
            .card__title {
                font-size: 22px;
                color: #fff;
                margin-bottom: 10px;
                .point {
                    color: #f7ce90;
                }
            }
            .card__copy {
                color: #f7d9d990;
                margin-bottom: 16px;
            }
            .card__button {
                display: block;
                background: linear-gradient(180deg, #f7ce90 0%, #f4bd76 100%);
                border-radius: 6px;
                text-decoration: none;
                width: 100%;
                color: #1A1B1F;
                font-weight: 700;
                text-align: center;
                padding: 12px 0;
            }
        }
    }
}

@media screen and (max-width:989.98px) {
    .container-cards {
        justify-content: space-around;
        .card {
            width: 28%;
        }
    }
}

@media only screen and (max-width: 500px) {
    .container-cards {
        .card {
            width: 40%;
            padding: 25px 10px;
            .cards__text {
                width: 100%;
                .card__list {
                    font-size: 24px;
                }
                .card__title {
                    font-size: 22px;
                }
                .card__copy {
                    color: #f7d9d990;
                    margin-bottom: 16px;
                }
            }
        }
    }
}