<section class="hero__main">
    <div class="testimony__card">
        <img src="./assets/img/portada1.png" alt="" class="testimony__img">
        <div class="testimony__copy">
            <i class='bx bxl-google testimony__logo'></i>
            <div class="testimony__info">
                <h3 class="testimony__name">RED ANDALE</h3>
                <p class="testimony__position">¡Bienvenido a la plataforma de servicios!</p>
            </div>
        </div>
    </div>
    <!-- <img src="./assets/img/portada1.png" alt="" class="mockup"> -->
</section>